

<div style="text-align:center;">
	<div class="span4" style="margin-left: 35%;">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>
	  
	  <div class="form-inputs">
	  	
	  	<fieldset>
	  		<legend style="vertical-align: center;">Sign In</legend>
	  	
	    <%= f.input :email, :required => false, :autofocus => true %>
	    <%= f.input :password, :required => false %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
</div>


  		 <div class="form-actions">
   		 <%= f.button :submit, "Sign in" %>
   		 </fieldset>
 	 </div>
 </div>

	<% end %> 

<div class="span12">
	<%= render "devise/shared/links" %>
</div>
</div>